
<main class="container-sm text-center d-flex flex-column">
    <h1>{{bienvenida}}</h1>
    <div class="row">
        <div class="col-sm-12">
            <h2>Titulo bienvenida</h2>
            <img src="https://via.placeholder.com/200x200" class="float-start m-3" alt="Distribuidora X"></img>
            <div class="text-start">
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nam quo laboriosam deleniti, mollitia
                nesciunt
                in, necessitatibus sequi rem unde ipsam dolore explicabo, consequuntur cum quos recusandae nemo
                harum.
                Optio, quisquam?</p>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nam quo laboriosam deleniti, mollitia
                nesciunt
                in, necessitatibus sequi rem unde ipsam dolore explicabo, consequuntur cum quos recusandae nemo
                harum.
                Optio, quisquam?</p>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nam quo laboriosam deleniti, mollitia
                nesciunt
                in, necessitatibus sequi rem unde ipsam dolore explicabo, consequuntur cum quos recusandae nemo
                harum.
                Optio, quisquam?</p>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nam quo laboriosam deleniti, mollitia
                nesciunt
                in, necessitatibus sequi rem unde ipsam dolore explicabo, consequuntur cum quos recusandae nemo
                harum.
                Optio, quisquam?</p>
            </div>
        </div>
    </div>
    <hr class="hr1"></hr>
    <div class="row news">
        <div class="col-sm-12 d-flex">
            <div>
                <h3>Titulo noticia</h3>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nam quo laboriosam deleniti, mollitia
                    nesciunt in, necessitatibus sequi rem unde ipsam dolore explicabo, consequuntur cum quos recusandae
                    nemo harum. Optio, quisquamnesciunt in, necessitatibus sequi rem unde ipsam dolore explicabo, consequuntur cum quos recusandae
                    nemo harum. Optio, quisquam?</p>
            </div>
            <img src="https://via.placeholder.com/150x100"  class="float-start m-2" alt="Distribuidora X"></img>
        </div>
        <div class="col-sm-12 d-flex">
            <div>
                <h3>Titulo noticia</h3>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nam quo laboriosam deleniti, mollitia
                    nesciunt in, necessitatibus sequi rem unde ipsam dolore explicabo, consequuntur cum quos recusandae
                    nemo harum. Optio, quisquamnesciunt in, necessitatibus sequi rem unde ipsam dolore explicabo, consequuntur cum quos recusandae
                    nemo harum. Optio, quisquam?</p>
            </div>
            <img src="https://via.placeholder.com/150x100"  class="float-start m-2" alt="Distribuidora X"></img>
        </div>
        <div class="col-sm-12 d-flex">
            <div>
                <h3>Titulo noticia</h3>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nam quo laboriosam deleniti, mollitia
                    nesciunt in, necessitatibus sequi rem unde ipsam dolore explicabo, consequuntur cum quos recusandae
                    nemo harum. Optio, quisquamnesciunt in, necessitatibus sequi rem unde ipsam dolore explicabo, consequuntur cum quos recusandae
                    nemo harum. Optio, quisquam?</p>
            </div>
            <img src="https://via.placeholder.com/150x100"  class="float-start m-2" alt="Distribuidora X"></img>
        </div>
    </div>
</main>